<!-- Banner -->
	<section id="banner">
		<div class="inner">
			<h2 class="title">{{ site.title }}</h2>
			<p>{{ site.description | markdownify }}</p>
			<ul class="actions">
				<li><a href="https://play.google.com/store/apps/details?id=com.misiunas.mcs" class="button special icon fa-android">Play Store</a></li>
        <li><a href="https://www.dropbox.com/s/xjdvz8dfn22lfzn/MC-Sweeper-release.apk?dl=1" class="button special icon fa-download">Downlead .APK</a></li>
			</ul>
		</div>
		<a href="#" class="more scrolly">Learn More</a>
	</section>
